.todolist{
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.todolist__form{
    width: 100%;
    padding: 2rem;
}

.todolist__form input {
    margin: 0 1rem;
    outline: none;
}
.todolist__form input:focus {
    border: 1px solid var(--blue-color-50);
    box-shadow: 1px 1px 4px 1px var(--blue-color);
}

.todolist__form button {
    background-color: var(--blue-color);
    color: var(--white);
    border: none;
}

.todolist__form button:hover {
    background-color: var(--blue-color-50);
}


.todolist__content{
    padding: 1rem;
}

.todolist__content-row{
    display:flex;
    padding: 1rem;
    border-bottom: 1px solid rgba(var(--primary-color),1);
}

.todolist__content-row input{
    font-size: 1rem;
    text-align: center;
    outline: none;
    border: 1px solid rgba(var(--primary-color),1);
}

.todolist__content-row .btn-delete{
    background-color: var(--red-color);
    color: var(--white);
    border: 0;
    outline: none;
}

.todolist__content-row .btn-delete:hover{
    background-color: var(--red-color-50);
}

.todolist__content-row .btn-edit{
    background-color: var(--aqua-color);
    border: 1px solid transparent;
    outline: none;
}

.todolist__content-row .btn-edit:hover{
    background-color: var(--aqua-color-10);
    border: 1px solid var(--aqua-color)
}

.todolist__content-row input{
    box-shadow: 1px 1px 4px 1px var(--blue-color-50);
}

.todolist__content-row .btn-save{
    background-color: var(--blue-color);
    outline: none;
    color:var(--white);
}

.todolist__content-row .btn-save:hover{
    background-color: var(--blue-color-30);
}

.todolist__content-row li{
    display:flex;
    justify-content: center;
    align-items: center;
}

.todolist__content-row li:nth-child(2){
    flex:1;
}