.todolist{
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.todolist__form{
    width: 100%;
    padding: 2rem;
}

.todolist__form input {
    margin: 0 1rem;
}

.todolist__content{
    padding: 1rem;
}

.todolist__content-item, .todolist__content-edit-item{
    display: none;
}

.todolist__content-item.show, .todolist__content-edit-item.show{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding: 1rem;
}

