.todolist{
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.todolist__form{
    width: 100%;
    padding: 2rem;
}

.todolist__form input {
    margin: 0 1rem;
}

.todolist__content{
    padding: 1rem;
}

.todolist__content-row{
    display:flex;
    padding: 1rem;
    border-bottom: 1px solid rgba(var(--primary-color),1);
}

.todolist__content-row input{
    font-size: 1rem;
    text-align: center;
    outline: none;
    border: 1px solid rgba(var(--primary-color),1);
}

.todolist__content-row input:focus{
    box-shadow: 1px 1px 4px 1px rgba(var(--primary-color),1);
}

.todolist__content-row li{
    display:flex;
    justify-content: center;
    align-items: center;
}

.todolist__content-row li:nth-child(2){
    flex:1;
}