.todolist{
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.todolist-add{
    width: 100%;
    padding: 2rem;
}



.todolist-add input {
    margin: 0 1rem;
}

.todolist-list{
    padding: 1rem;
}

.task-item, .edit-task{
    display: none;
}

.task-item.show, .edit-task.show{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding: 1rem;
}

button {
    -webkit-appearance: button;
    -moz-appearance:    button;
    appearance:         button;
 }