*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --secundary-color:#473E3F;
  --success-color:#8EDC9D;
  --danger-color:#EF7126;
  --warning-color:#F9E559;
  --primary-color:108,206,203;/* #6CCECB */
  --white:#ffffff;
}

a{
  text-decoration: none;
  color: var(--secundary-color);
}

ul{
    list-style: none;
}

input{
    padding: .7rem 1rem;
    border: 1px solid #eee;
    border-radius: .3rem;
    width: 100%;
    max-width: 300px;
}

.btn{
    padding: .7rem 1rem;
    border-radius: .1rem;
    cursor: pointer;
}

.btn:hover{
    background-color: antiquewhite;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin:0 auto;
}
